* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Tholoes';
    src: url('https://lisischauer.com/fonts/tholoesdemo-jexel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 a {
    font-family: 'Tholoes', sans-serif;
    text-decoration: none;
    color: #C075AD;
    font-size: 1em;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, ul, li, a {
    margin: 0;
    padding: 0;
    color: lightcyan;
}

p {
    margin-bottom: 20px;
    color: #2f4f4f;
}

a {
    text-decoration: none;
}

a:hover {
    color: #C075AD;
}

.selected {
    color: darkslategrey;
}

.header {
    padding: 10px;
    margin-top: 0%;
}

.header2 {
    padding: 10px;
}

footer {
    text-align: right;
    font-size: 0.8em;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

/* Mobile */
@media screen and (max-width: 1023px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .header > div:first-child {
        width: 100%;
        text-align: center;
    }

    .header > div:nth-child(2) {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .header2 p {
        margin: 0 10px;
        font-size: 1.3em;
    }

    .header2 {
        width: 100%;
    }

    h1 a {
        font-size: 2em;
        font-weight: lighter;
    }

    body, ul, li {
        font-size: 1.3em;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .header {
        font-size: 1.3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header2 {
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }
}