html, body {
    background-color: grey;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-weight: normal;
    font-size: 1.2em;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-weight: normal;
    font-size: 0.7em;
}

.container {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container page {
        flex-wrap: wrap;
}

.wrapper {
    flex: 0 0 0 calc(50% - 20px);
    width: 30%;
}

.caption {
    display: flex;
    justify-content: center;
    margin-top: -10%;
}

/* Mobile */
@media screen and (max-width: 1023px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
}