@font-face {
    font-family: 'Klavika';
    src: url('https://lisischauer.com/fonts/Klavika/klavika-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika';
    src: url('https://lisischauer.com/fonts/Klavika/klavika-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: lightgrey;
}

h2 {
    font-family: 'Klavika', sans-serif;
    text-decoration: none;
    font-size: 2.6em;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 20px;
}

h3 a {
    color: black;
}

h4 {
    font-family: 'Klavika', sans-serif;
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 1.8em;
}

h5 {
    font-family: 'Klavika', sans-serif;
    text-decoration: none;
    font-size: 2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 5%;
    flex: 1;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    display: block;
}

.image-container p {
    font-family: 'Bickham Script Pro', serif;
    font-style: normal;
    font-size: 6em;
    color: lightcyan;
}

.sticker {
    position: absolute;
    top: -3%;
    right: 85%;
    width: 20%;
    height: auto;
    z-index: 5;
    transition: transform 0.3s ease;
}

.sticker:hover {
    transform: scale(1.1);
}

.shelley-sticker {
    position: absolute;
    transform: rotate(-90deg);
    bottom: -90%;
    width: 80%;
    height: auto;
    z-index: 0;
}

.newsletter {
    position: fixed;
    bottom: 2%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
 }
 
.newsletter input[type="email"] {
    padding: 8px;
    margin: 5px 0;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
 }
 
.newsletter button {
    padding: 8px 16px;
    background-color: #3C5898;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 
 .newsletter button:hover {
    background-color: #2e4673;
 }

.fb-outercontainer {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, auto);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    flex: 1;
    background-color: white;
}

.fb-innergrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
 
.fb-innergrid img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

footer {
    z-index: 10;
}

/* Mobile */
@media screen and (max-width: 1023px) {
    .container {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin-bottom: -30px;
    }

    .newsletter {
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 10px;
        width: 40%;
     }
    
    h2 {
        font-weight: normal;
    }

    .shelley-sticker {
        right: -8%;
    }

    .fb-innergrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .hidemobile {
    display: none !important;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(3, auto);
        gap: 60px;
    }

    .newsletter {
        left: 3%;
     }

    h2 {
        font-weight: bold;
    }

    .shelley-sticker {
        right: -15%;
    }
}