html, body {
    background-color: #4f1b17;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.video-wrapper {
    position: relative;
    width: 500px;
    aspect-ratio: 4 / 3;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: -5%;
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: auto;
    object-fit: contain;
    z-index: 1;
}

.video-wrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    z-index: 2;
    border: none;
}

/* Mobile */
@media screen and (max-width: 980px) {
    .video-wrapper {
        width: 88vw;
        margin-top: -100px;
    }

    .video-frame {
        width: 88vw;
    }

    .video-wrapper iframe {
        width: 70vw;
    }
}

/* Desktop */
@media screen and (min-width: 981px) {
}